<!-- <div class="toolbar">
  <div class="col-3">
    <img src="assets/images/logo.png" alt="">
  </div>

  <div class="container">
    <div class="col-3">
      <ul class="menu">
        <li>Home</li>
        <li>Features</li>
        <li id="login"> <button> Log in </button></li>
        <li>Sign up</li>
      </ul>
    </div>
  </div>

  <div class="col-3">
    <div class="searchContainer">

      <input class="searchBar" type="text" placeholder="Search">
    </div>
  </div>
</div> -->


<div class="header">


  <!-- <div class="spacer"></div> -->

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <li class="nav-item"><a href="/alluser">Show All user</a></li>
    <li class="nav-item"><a href="/finduser">Find User</a></li>
    <li class="nav-item"><a href="/updateuser"> Update User</a></li>
    <li class="nav-item"><a href="/adduser"> Add User</a></li>
    <li class="nav-item"><a href="/deleteuser"> Delete User</a></li>
  </nav>



</div>
