<div class="container">
  <div class="input-group">
    <div class="form-outline">

      <input type="search" id="form1" class="form-control" />

    </div>
    <button type="button" name='Search' class="btn btn-primary">
      Search
    </button>
  </div>


  <div class="card " style=" width: 25rem; margin-top: 10rem;">
    <h1>User Details</h1>

    <div>
      <div class="row">
        <div class="col-sm-3">
          <div class="card border-success mb-3" style="width: 18rem;">
            <div class="card-body text-success">
              <h5 class="card-title"> </h5>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<button type="button" class="btn btn-primary" style="margin-left: 20rem; margin-top: 2rem;"> Update</button>
